{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        image-resizer/image-resizer {:mvn/version "0.1.10"}
        com.taoensso/timbre {:mvn/version "5.2.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.70.1086"}
                       lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}
                       nubank/matcher-combinators {:mvn/version "3.5.1"}
                       #_#_nubank/state-flow {:mvn/version "5.14.2"}}
         :main-opts   ["-m" "kaocha.runner"]}

  :clojure-lsp {:replace-deps {com.github.clojure-lsp/clojure-lsp-standalone {:mvn/version "2022.09.01-15.27.31"}}
                :main-opts ["-m" "clojure-lsp.main"]}

  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.6"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
